 <!--Main Footer-->
 <footer class="main-footer">
    <!--Footer Bottom-->
    <div class="footer-bottom">
       <div class="auto-container">
         <center><a href="index.html"><img src="/images/dnn-logo-white.png" alt="" width="15%" align="center" /></a></center>
       </div>
       <!--Copyright Section-->
       <div class="copyright-section">
          <div class="auto-container">
             <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12">
                   <ul class="footer-nav">
                      <li><a href="/">Home</a></li>
                      <li><a href="/about/">About</a></li>
                      <li><a href="/contacts/">Contacts</a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!--End Main Footer-->
